MONGODB_URI=your_mongodb_uri

SMTP_HOST=your_smtp_host
SMTP_PORT=your_smtp_port
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_pass
SMTP_SECURE=true
MAIL_FROM=your_email

# Admin Credentials
ADMIN_EMAIL=your_admin_email
# Hash for password "Admin@Anujtiwari@23"
ADMIN_PASSWORD_HASH=your_admin_password_hash

# Security Secrets
JWT_SECRET=your_jwt_secret
NODE_ENV=your_environment
